{
    "presets": [
        "env"
    ],
    "plugins": [
        [
            "module-resolver", {
                "root": ["./src"]
            }
        ]
    ],
    "env": {
        "test": {
            "presets": ["jest"]
        }
    }
}