{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-object-rest-spread",
    "add-module-exports",
    "istanbul"
  ],
}
