{
    "presets": [
        ["env", {
            "useBuiltIns": true,
            "loose": true
        }],
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-flow-strip-types",
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }],
        ["babel-plugin-root-import", {
            "rootPathSuffix": "./src",
            "rootPathPrefix": "~"
        }],
        "babel-plugin-styled-components"
    ],
    "env": {
        "test": {
          "presets": ["jest"]
        }
      }
}