.github
docker
docs

packages/ipc-proxy/
packages/suite/
packages/suite-analytics/
packages/suite-build/
packages/suite-data/
packages/suite-desktop/
packages/suite-desktop-core/
packages/suite-desktop-ui/
packages/suite-storage/
packages/suite-web/

### content of all .gitignore files is not applied if .easignore is present

build
build-electron
build-renderer
.build-storybook
\*.cpuprofile

# Dependency directory

node_modules

# OSX

.DS_Store

# Editors

.idea
_.sublime-project
_.sublime-workspace
.vscode/\*_/_
!.vscode/\*.code-snippets

# Logs

logs
\*.log
.yarnclean

.attic
.env\*
!.env.dev
nx-cloud.env

# cache

_.code-workspace
**docker-snapshots**
**pycache**/
.cache/
.eslintcache
.stylelintcache
_.tsbuildinfo
.nx

# Vagrant

.vagrant

# test outputs

screenshots
test-results

# build outputs

lib
libDev
dist
public
coverage
tmp

## React Native section

# Xcode

build/
_.pbxuser
!default.pbxuser
_.mode1v3
!default.mode1v3
_.mode2v3
!default.mode2v3
_.perspectivev3
!default.perspectivev3
xcuserdata
_.xccheckout
_.moved-aside
DerivedData
_.hmap
_.ipa
_.dSYM.zip
_.xcuserstate

# Android/IntelliJ

build/
.idea
.gradle
local.properties
_.iml
_.hprof
.cxx/
\*.keystore
!debug.keystore

# scan temporary files

\*\*/android/fastlane/test_output

!**/suite-native/app/.env.debug
!**/suite-native/app/.env.develop
!**/suite-native/app/.env.preview
!**/suite-native/app/.env.production
!\*\*/suite-native/app/.env.staging

# ios

**/ios/\*.xcarchive
**/ios/builds/\*
\*\*/ios/.xcode.env.local

# Ruby / CocoaPods

**/ios/Pods/
**/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher

.metro-health-check\*

# android

\*_/android/builds/_

# fastlane supply (google service account - upload key)

\*\*/android/upload-key.json

# Bundle artifact

\*.jsbundle

# Yarn 3

.yarn/_
.yarn/cache
!.yarn/patches
!.yarn/plugins/_
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# @trezor/suite-data

packages/suite-data/files/browser-detection
packages/suite-data/files/guide
packages/suite-data/files/translations/master.json

# @trezor/connect-explorer

**/build-webextension/**

# cypress download folder

packages/suite-web/e2e/downloads

### suite-native/app/.gitignore

# Expo

.expo/
web-build/

# Native

suite-native/app/**/_.orig._
suite-native/app/**/_.jks
suite-native/app/\*\*/_.p8
suite-native/app/**/\*.p12
suite-native/app/**/_.key
suite-native/app/\*\*/_.mobileprovision

# These are generated when running `expo prebuild`

suite-native/app/ios
suite-native/app/android

# Metro

.metro-health-check\*

# debug

npm-debug._
yarn-debug._
yarn-error.\*

# macOS

.DS_Store
\*.pem

# local env files

.env
!suite-native/app/.env._
.env._.local

# typescript

\*.tsbuildinfo
