{
  "env": {
      "jest": true,
      "node": true
  },
  "plugins": [
      "node",
      "import",
      "jest"
  ],
  "extends": [
      "airbnb-base"
  ],
  "rules": {
      "no-underscore-dangle": 0,
      "no-plusplus": 0,
      "no-use-before-define": 0,
      "indent": [2, 4, { "SwitchCase": 1 }],
      "no-console": 0,
      "node/exports-style": ["error", "exports"],
      "import/prefer-default-export": 0,
      "new-cap": 0
  },
  "settings": {
      "import/resolver": {
          "babel-module": {}
      }
  },
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module"
  }
}
