# general
node_modules
generated
old
_old
examples
docker
public

# libs and builds
dist
lib
.rpt2_cache
build
build-electron
docs

# debug files
yarn-error.log
cache
.build
solidity

# folders
packages/wallet
ci

# next js
.next

# native
android
ios

packages/suite-data/files/browser-detection