.next
_old
build
build-electron
.build-storybook
*.cpuprofile

# Dependency directory
node_modules
.yarn

# OSX
.DS_Store

# Editors
.idea
*.sublime-project
*.sublime-workspace
.vscode/**/*
!.vscode/launch.json
!.vscode/tasks.json

# Logs
logs
*.log
.yarnclean


.attic
.env*
!.env.dev

# cache
*.code-workspace
__docker-snapshots__
__pycache__/
.cache/
.eslintcache
*.tsbuildinfo

# model 1 emulation file
docker/trezor-user-env/controller/emulator.img

# Vagrant
.vagrant

# build outputs
lib
libDev
dist
public
coverage
