# ! DO NOT set latest here USE custom hash !
image: registry.gitlab.com/satoshilabs/trezor/trezor-suite/base:c51f080789c0f0c9683a96090e335831cde283b4

variables: 
    DEV_SERVER_URL: "https://suite.corp.sldev.cz"
    PACKAGE_PATH_COMPONENTS: packages/components-storybook
    PACKAGE_PATH_SUITE_DESKTOP: packages/suite-desktop
    PACKAGE_PATH_SUITE_NATIVE: packages/suite-native
    PACKAGE_PATH_SUITE_WEB: packages/suite-web

stages: 
    - setup environment
    - lint and types
    - unit testing
    - build
    - deploy to dev servers
    - integration testing
    - build artifacts
    - misc

include: 
    - ci/environment.yml
    - ci/install-and-build.yml
    # - ci/packages/components.yml
    # - ci/packages/components-v2.yml
    # - ci/packages/components-storybook.yml
    # - ci/packages/components-storybook-v2.yml
    # - ci/packages/suite.yml
    - ci/packages/suite-web.yml
    # - ci/packages/suite-desktop.yml
    # - ci/packages/suite-native.yml
    # - ci/packages/blockchain-link.yml
    # - ci/packages/rollout.yml
    # - ci/packages/translations-manager.yml

lint: 
    stage: lint and types
    dependencies: 
        - install and build
    script: 
        - lerna run lint
    
type check:
    stage: lint and types
    dependencies: 
        - install and build
    script: 
        - lerna run type-check
