.next
_old
build
build-electron

# Dependency directory
node_modules

# OSX
.DS_Store
dist

# Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
.yarnclean

coverage
test/**/__diff_output__
test/screenshots

.env*
!.env.dev
dist

*.code-workspace