image: node:lts

cache:
  key: "$CI_COMMIT_REF_NAME"
  paths:
    - node_modules/
    - packages/*/node_modules

.build: &build
  stage: build
  script:
    - cd packages/$PROJECT_NAME
    - echo "project path $(basename $PWD)"
    - echo "\n"
    - echo "--- [installing deps] ---"
    - yarn
    - echo "\n"
    - echo "--- [building lib] ---"
    - yarn build
  artifacts:
    expire_in: 1 hour
    paths:
      - build

.suite-web: &suite-web
  variables:
    PROJECT_NAME: suite-web
  # only:
    # variables:
    #   - $CI_COMMIT_MESSAGE =~ /\[ci job:.*suite-web.*\]/i
    #   - $RUN_JOBS_ALL == "true"
    #   - $RUN_JOBS_SUITE_WEB == "true"

stages:
    - build

build suite-web:
  <<: *suite-web
  <<: *build