.next
_old
build
build-electron

# Dependency directory
node_modules

# OSX
.DS_Store

# Editors
.idea
*.sublime-project
*.sublime-workspace
.vscode

# Logs
logs
*.log
.yarnclean

coverage
test/**/__diff_output__
test/screenshots

.env*
!.env.dev
dist

*.code-workspace
__docker-snapshots__
