image: node:8

cache:
  paths:
  - node_modules

before_script:
  - yarn install

stages:
  - test
  - build
  - deploy

lint:
  stage: test
  script:
    - yarn run lint

flow:
  stage: test
  script:
    - yarn run flow

test:
  stage: test
  script:
    - yarn run test

build-development:
  stage: build
  script:
    - yarn run build:dev
  artifacts:
    expire_in: 1 month
    paths:
      - build/dev

build-beta:
  stage: build
  script:
    - yarn run build:beta
  artifacts:
    expire_in: 1 month
    paths:
      - build/beta

build-production:
  stage: build
  script:
    - yarn run build:prod
  artifacts:
    expire_in: 1 month
    paths:
      - build/production

deploy_dev:
  stage: echo "Deploy dev"

deploy_staging:
  stage: deploy
  script: echo "Deploy staging"