image: node:lts

cache:
  key: "${CI_COMMIT_REF_NAME}"
  paths:
    - node_modules/
    - packages/*/node_modules
    - ~/.cache

stages:
  - build
  - deploy
  - test snapshots

variables:
  PACKAGE_PATH_COMPONENTS: 'packages/components'
  CYPRESS_CACHE_FOLDER: "$CI_PROJECT_DIR/cache/Cypress"
  PACKAGE_PATH_SUITE_WEB: 'packages/suite-web'
  DEV_SERVER_URL: 'https://suite-dev.sldev.cz'

# Components package # --------------------------------

components build:
  stage: build
  script:
    - env
    - cd ${PACKAGE_PATH_COMPONENTS}
    - echo "--- [installing deps] ---"
    - yarn
    - echo "--- [building lib] ---"
    - yarn build
  only:
    changes:
      - packages/components/**/*
      - .gitlab-ci.yml
  artifacts:
    name: components-build-files
    expire_in: 15 minutes
    paths:
      - $PACKAGE_PATH_COMPONENTS/build

components deploy dev:
  stage: deploy
  variables:
    PACKAGE_NAME: components
    DEPLOY_DIRECTORY: ${DEPLOY_BASE_DIR}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
    DEPLOY_URL: ${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
  dependencies:
    - components build
  only:
    changes:
      - packages/components/**/*
      - .gitlab-ci.yml
  environment:
    name: ${CI_BUILD_REF_NAME}
    url: $BASE_REVIEW_URL/${CI_BUILD_REF_NAME}
  before_script: []
  script:
    - env
    - cd $PACKAGE_PATH_COMPONENTS
    - echo "Deploy to dev servers"
    - mkdir -p ${DEPLOY_BASE_DIR}/${PACKAGE_NAME}
    - mkdir -p ${DEPLOY_DIRECTORY} # create build folder
    - rsync --delete -va build/ "${DEPLOY_DIRECTORY}/"
    - curl "https://api.telegram.org/bot699197118:AAGXNTaC5Q-ljmy_dMvaIvAKy1XjlkA3Iss/sendMessage?chat_id=-1001354778014&text=${DEPLOY_URL}"
  only:
    - branches
  tags:
    - deploy

components test snapshots:
  image: cypress/base:10
  stage: test snapshots
  only:
    changes:
      - packages/components/**/*
      - .gitlab-ci.yml
  script:
    - yarn
    - yarn ci:test:snapshots --baseUrl=${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
  artifacts:
    expire_in: 1 day
    when: always
    paths:
      - /builds/trezor/trezor-ui-components/test/screenshots
      - /builds/trezor/trezor-ui-components/test/snapshots

components make snapshot references:
  image: cypress/base:10
  stage: test snapshots
  only:
    changes:
      - packages/components/**/*
      - .gitlab-ci.yml
  when: manual
  script:
    - yarn
    - yarn ci:test:snapshots:references --baseUrl=${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
  artifacts:
    expire_in: 1 day
    when: always
    paths:
      - /builds/trezor/trezor-ui-components/test/snapshots

# Suite web package # --------------------------------

suite-web build:
  stage: build
  variables:
    PACKAGE_NAME: suite-web
  script:
    - env
    - cd $PACKAGE_PATH_SUITE_WEB
    - echo "--- [installing deps] ---"
    - yarn
    - echo "--- [building lib] ---"
    - assetPrefix=${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME} yarn build
  only:
    changes:
      - packages/suite-web/**/*
      - .gitlab-ci.yml
  artifacts:
    name: suite-web-build
    expire_in: 15 minutes
    paths:
      - $PACKAGE_PATH_SUITE_WEB/build

suite-web deploy dev:
  stage: deploy
  variables:
    PACKAGE_NAME: suite-web
    DEPLOY_DIRECTORY: ${DEPLOY_BASE_DIR}/suite-web/${CI_BUILD_REF_NAME}
    DEPLOY_URL: ${DEV_SERVER_URL}/${DEPLOY_DIRECTORY}
  dependencies:
    - suite-web build
  only:
    changes:
      - packages/suite-web/**/*
      - .gitlab-ci.yml
  environment:
    name: ${CI_BUILD_REF_NAME}
    url: $BASE_REVIEW_URL/${CI_BUILD_REF_NAME}
  before_script: []
  script:
    - env
    - cd ${PACKAGE_PATH_SUITE_WEB}
    - echo "Deploy to dev servers"
    - mkdir -p ${DEPLOY_BASE_DIR}/${PACKAGE_NAME}
    - mkdir -p ${DEPLOY_DIRECTORY} # create build folder
    - rsync --delete -va build/ "${DEPLOY_DIRECTORY}/"
    - curl "https://api.telegram.org/bot699197118:AAGXNTaC5Q-ljmy_dMvaIvAKy1XjlkA3Iss/sendMessage?chat_id=-1001354778014&text=${DEPLOY_URL}"
  only:
    - branches
  tags:
    - deploy
