cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm
    - cache/Cypress
    - node_modules

stages:
  - build
  - test

variables:
  CYPRESS_CACHE_FOLDER: "$CI_PROJECT_DIR/cache/Cypress"

build image:
  variables:
    CONTAINER_NAME: "$CI_REGISTRY/trezor-ui-components"
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  stage: build
  when: always
  script:
    - docker pull $CONTAINER_NAME:latest || true
    - docker build --cache-from $CONTAINER_NAME:latest --tag $CONTAINER_NAME:$CI_COMMIT_SHA --tag $CONTAINER_NAME:latest .
    - docker push $CONTAINER_NAME:$CI_COMMIT_SHA
    - docker push $CONTAINER_NAME:latest

test snapshots:
  image: $CI_REGISTRY/trezor-ui-components:latest
  stage: test
  script:
    - yarn storybook
    - yarn ci:test:snapshots -c baseUrl=https://trezor.github.io/trezor-ui-components
  artifacts:
    expire_in: 1 day
    when: always
    paths:
      - cypress/screenshots
      - cypress/videos
