# ! DO NOT set latest here USE custom hash !
image: registry.gitlab.com/satoshilabs/trezor/trezor-suite/base@sha256:94febe6dbcbd7a64a788bae6350601743201d0c57789b2fe4f7d9c91a64a8837

variables:
  DEV_SERVER_URL: "https://suite.corp.sldev.cz"
  STAGING_WALLET_SERVER_URL: "https://staging-wallet.trezor.io/wallet"
  STAGING_SUITE_SERVER_URL: "https://staging-suite.trezor.io"
  DESKTOP_APP_NAME: "Trezor-Suite"
  GIT_CLEAN_FLAGS: "-ffdx -e node_modules -e packages/*/lib -e .yarn"

stages:
  - setup environment
  - prebuild
  - build
  - deploy to dev
  - integration testing
  - build artifacts
  - misc
  - deploy to staging
  - deploy to production

include:
  - ci/environment.yml
  - ci/prebuild.yml
  - ci/packages/components.yml
  - ci/packages/suite-web.yml
  - ci/packages/suite-desktop.yml
  - ci/packages/suite-native.yml
  - ci/packages/rollout.yml
  - ci/packages/landing-page.yml
  - ci/packages/suite-web-landing.yml
  # to be run only on scheduled pipelines
  - ci/releases.yml
  - ci/schedules.yml
