# ! DO NOT set latest here USE custom hash !
image: registry.gitlab.com/satoshilabs/trezor/trezor-suite/base@sha256:7ce75a4d659640ede00e0e68a0104cbcce6900fcad7d7d7aa3932459cf43c540

variables:
  DEV_SERVER_URL: "https://suite.corp.sldev.cz"
  STAGING_WALLET_SERVER_URL: "https://staging-wallet.trezor.io/wallet"
  STAGING_SUITE_SERVER_URL: "https://staging-suite.trezor.io"
  DESKTOP_APP_NAME: "Trezor-Suite"
  GIT_CLEAN_FLAGS: "-ffdx -e .yarn"
  GIT_DEPTH: 20

stages:
  - setup environment
  - prebuild
  - build
  - deploy to dev
  - deploy npm
  # testing that all the moving parts fit together
  - integration testing
  # testing against what is about to come (next browser version, next firmware release)
  - canary testing
  # testing of what we are releasing together with what is already out in the wild
  - legacy testing
  - build artifacts
  - utils
  - deploy to staging
  - deploy to production

include:
  - ci/environment.yml
  - ci/prebuild.yml
  - ci/build.yml
  - ci/deploy.yml
  - ci/test.yml
  - ci/releases.yml
