image: node:10.15.1

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
  - cache/Cypress
  - node_modules

stages:
  - build
  - test

variables:
  CYPRESS_CACHE_FOLDER: "$CI_PROJECT_DIR/cache/Cypress"

install:
  image: cypress/base:10
  stage: build
  script:
    - yarn
    - $(yarn bin)/cypress verify

lint:
  stage: build
  script:
    - yarn
    - yarn run lint

test-snapshots:
  image: cypress/base:10
  stage: test
  script:
    # - yarn ci:test:snapshots -c baseUrl=https://trezor-wallet-dev.trezor.io/${CI_BUILD_REF_NAME}
    - yarn ci:test:snapshots -c baseUrl=https://trezor.github.io/trezor-ui-components
  artifacts:
    expire_in: 1 day
    when: always
    paths:
      - /builds/trezor/trezor-ui-components/test/screenshots
      - /builds/trezor/trezor-ui-components/test/snapshots