cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm
    - cache/Cypress
    - node_modules

stages:
  - build
  - test
  - cleanup

variables:
  CYPRESS_CACHE_FOLDER: "$CI_PROJECT_DIR/cache/Cypress"
  CONTAINER_NAME: "$CI_REGISTRY/trezor/trezor-ui-components"

install:
  image: cypress/base:10
  stage: build
  script:
    - npm ci
    - $(yarn bin)/cypress cache path
    - $(yarn bin)/cypress cache list
    - $(yarn bin)/cypress verify

build image:
  image: docker:latest
  services:
    - docker:dind
  stage: build
  when: always
  before_script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - docker pull $CONTAINER_NAME:latest || true
    - docker build --cache-from $CONTAINER_NAME:latest --tag $CONTAINER_NAME:$CI_COMMIT_SHA --tag $CONTAINER_NAME:latest .
    - docker push $CONTAINER_NAME:$CI_COMMIT_SHA
    - docker push $CONTAINER_NAME:latest

test snapshots:
  image: $CONTAINER_NAME:$CI_COMMIT_SHA
  stage: test
  script:
    - yarn
    - yarn ci:test:snapshots
  artifacts:
    expire_in: 1 day
    when: always
    paths:
      - cypress/screenshots
      - cypress/videos

delete image:
  image: docker:latest
  stage: cleanup
  services:
    - docker:dind
  when: always
  before_script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - docker rmi $CONTAINER_NAME:$CI_COMMIT_SHA