image: registry.gitlab.com/satoshilabs/trezor/trezor-suite/base:0434bcea7c4be20c0c197bb44553c2b88270bd64

variables:
    PACKAGE_PATH_COMPONENTS: 'packages/components-storybook'
    PACKAGE_PATH_SUITE_WEB: 'packages/suite-web'
    PACKAGE_PATH_SUITE_NATIVE: 'packages/suite-native'
    PACKAGE_PATH_SUITE_DESKTOP: 'packages/suite-desktop'
    PACKAGE_PATH_CONNECT_EXPLORER: 'packages/connect-explorer'
    DEV_SERVER_URL: 'https://suite.corp.sldev.cz'

stages:
    - setup environment
    - lint and prettier
    - typescript type check
    - unit testing
    - build
    - deploy to dev servers
    - integration testing
    - build desktop apps

include:
    - ci/environment.yml
    - ci/install-and-build.yml
    - ci/packages/components.yml
    - ci/packages/components-storybook.yml
    - ci/packages/suite.yml
    - ci/packages/suite-web.yml
    - ci/packages/suite-desktop.yml
    # - ci/packages/suite-native.yml
    - ci/packages/blockchain-link.yml
    - ci/packages/rollout.yml
    # - ci/packages/connect-explorer.yml
