# ! DO NOT set latest here USE custom hash !
image: registry.gitlab.com/satoshilabs/trezor/trezor-suite/base:54b807728aa0417641c00dfab1aa6c0ea77bcfdb

cache:
    untracked: true
    policy: pull
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        # modules
        - node_modules/
        - packages/blockchain-link/node_modules/
        - packages/components/node_modules/
        - packages/rollout/node_modules/
        - packages/suite/node_modules/
        - packages/suite-web/node_modules/
        - packages/suite-desktop/node_modules/
        - packages/suite-native/node_modules/
        - packages/suite-storage/node_modules/
        - packages/translations-manager/node_modules/
        - packages/integration-tests/node_modules/
        # libs
        - packages/components/lib
        - packages/blockchain-link/lib
        - packages/rollout/lib
        - packages/suite-storage/lib
        - packages/translations-manager/lib

variables:
    DEV_SERVER_URL: 'https://suite.corp.sldev.cz'
    PACKAGE_PATH_SUITE_DESKTOP: packages/suite-desktop
    PACKAGE_PATH_SUITE_NATIVE: packages/suite-native
    PACKAGE_PATH_SUITE_WEB: packages/suite-web

stages:
    - setup environment
    - lint, types, unit tests
    - build
    - deploy to dev servers
    - integration testing
    - build artifacts
    - deploy artifacts, others

# lint:
#     stage: lint, types, unit tests
#     script:
#         - lerna run lint

# typescript:
#     stage: lint, types, unit tests
#     script:
#         - lerna run type-check

# unit tests:
#     stage: lint, types, unit tests
#     script:
#         - lerna run test:unit -- --passWithNoTests

include:
    - ci/environment.yml
    - ci/install-and-build.yml
    # - ci/packages/components.yml
    # - ci/packages/suite.yml
    - ci/packages/suite-web.yml
    # - ci/packages/suite-desktop.yml
    # - ci/packages/suite-native.yml
    # - ci/packages/rollout.yml
