image: node:10.15.1

variables:
  CYPRESS_CACHE_FOLDER: "$CI_PROJECT_DIR/cache/Cypress"
  CONTAINER_NAME: "$CI_REGISTRY/trezor/trezor-ui-components"

before_script:
  - "apt-get update"
  # - "apt-get install -y build-essential"
  # - "apt-get install xvfb"
  # - "apt-get install xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ~/.cache

stages:
  - build
  - test
  - cleanup

install:
  image: cypress/base:latest
  stage: build
  script:
    - yarn install --frozen-lockfile
    - $(yarn bin)/cypress cache path
    - $(yarn bin)/cypress cache list
    - $(yarn bin)/cypress verify

build image:
  image: docker:latest
  services:
    - docker:dind
  stage: build
  when: always
  before_script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - docker pull $CONTAINER_NAME:latest || true
    - docker build --cache-from $CONTAINER_NAME:latest --tag $CONTAINER_NAME:$CI_COMMIT_SHA --tag $CONTAINER_NAME:latest .
    - docker push $CONTAINER_NAME:$CI_COMMIT_SHA
    - docker push $CONTAINER_NAME:latest

test snapshots:
  image: $CONTAINER_NAME:$CI_COMMIT_SHA
  stage: test
  script:
    - yarn ci:test:snapshots
  artifacts:
    expire_in: 1 day
    when: always
    paths:
      - cypress/screenshots
      - cypress/videos

delete image:
  image: docker:latest
  stage: cleanup
  services:
    - docker:dind
  when: always
  before_script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - docker rmi $CONTAINER_NAME:$CI_COMMIT_SHA