image: registry.gitlab.com/satoshilabs/trezor/trezor-suite/base:latest

variables:
    PACKAGE_PATH_COMPONENTS: 'packages/components-storybook'
    PACKAGE_PATH_SUITE_WEB: 'packages/suite-web'
    PACKAGE_PATH_SUITE_NATIVE: 'packages/suite-native'
    PACKAGE_PATH_SUITE_DESKTOP: 'packages/suite-desktop'
    PACKAGE_PATH_CONNECT_EXPLORER: 'packages/connect-explorer'
    DEV_SERVER_URL: 'https://suite.corp.sldev.cz'

    CYPRESS_CACHE_FOLDER: '$CI_PROJECT_DIR/cache/Cypress'

stages:
    - install
    - lint
    - type check
    - test
    - build
    - deploy
    - test integration

cache: {}

install and build:
    stage: install
    script:
        - yarn install
        - npx lerna run build:lib
    artifacts:
        expire_in: 2 hours
        when: always
        paths:
            # libs
            - packages/components/lib
            - packages/blockchain-link/lib
            - packages/rollout/lib
            # node_modules
            - node_modules
            - packages/blockchain-link/node_modules
            - packages/components/node_modules
            - packages/components-storybook/node_modules
            - packages/connect-explorer/node_modules
            - packages/rollout/node_modules
            - packages/suite/node_modules
            - packages/suite-web/node_modules
            - packages/suite-desktop/node_modules
            - packages/suite-native/node_modules

include:
    - ci/packages/components.yml
    - ci/packages/components-storybook.yml
    - ci/packages/suite.yml
    - ci/packages/suite-web.yml
    - ci/packages/suite-desktop.yml
    - ci/packages/suite-native.yml
    - ci/packages/blockchain-link.yml
    - ci/packages/rollout.yml
    - ci/packages/connect-explorer.yml
