# lfs files
packages/suite-data/files/bin/bridge/linux-*/trezord filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/bridge/mac-*/trezord filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/bridge/win-*/trezord.exe filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/tor/linux-*/*.so.* filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/tor/linux-*/tor filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/tor/mac-*/*.dylib filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/tor/mac-*/tor filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/tor/win-*/*.dll filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/tor/win-*/tor.exe filter=lfs diff=lfs merge=lfs -text
packages/connect-common/files/firmware/t1b1/*.bin filter=lfs diff=lfs merge=lfs -text
packages/connect-common/files/firmware/t2b1/*.bin filter=lfs diff=lfs merge=lfs -text
packages/connect-common/files/firmware/t2t1/*.bin filter=lfs diff=lfs merge=lfs -text
packages/connect-common/files/devkit/firmware/t1b1/*.bin filter=lfs diff=lfs merge=lfs -text
packages/connect-common/files/devkit/firmware/t2b1/*.bin filter=lfs diff=lfs merge=lfs -text
packages/connect-common/files/devkit/firmware/t2t1/*.bin filter=lfs diff=lfs merge=lfs -text
# Changelog to be merged via union always.
CHANGELOG.md merge=union
packages/suite-data/files/bin/coinjoin/linux-arm64/WalletWasabi.WabiSabiClientLibrary filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/coinjoin/linux-x64/WalletWasabi.WabiSabiClientLibrary filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/coinjoin/osx-arm64/WalletWasabi.WabiSabiClientLibrary filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/coinjoin/osx-x64/WalletWasabi.WabiSabiClientLibrary filter=lfs diff=lfs merge=lfs -text
packages/suite-data/files/bin/coinjoin/win-x64/WalletWasabi.WabiSabiClientLibrary.exe filter=lfs diff=lfs merge=lfs -text
