# general
node_modules
generated
old
_old
examples
docker
public
static

# libs and builds
dist
lib
.rpt2_cache
build
build-electron

# debug files
yarn-error.log
cache
.build
solidity

# folders
packages/wallet
ci

# next js
.next
next-env.d.ts

# native
android
ios