### custom prettier ignore config ###

submodules

### copy paste of .gitignore ###

build
build-electron
build-renderer
.build-storybook
*.cpuprofile

# Dependency directory
node_modules

# OSX
.DS_Store

# Editors
.idea
*.sublime-project
*.sublime-workspace
.vscode/**/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/*.code-snippets

# Logs
logs
*.log
.yarnclean


.attic
.env*
!.env.dev
nx-cloud.env

# cache
*.code-workspace
__docker-snapshots__
__pycache__/
.cache/
.eslintcache
.stylelintcache
*.tsbuildinfo

# Vagrant
.vagrant

# build outputs
lib
libDev
dist
public
coverage
tmp


## React Native section ##

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.dSYM.zip
*.xcuserstate

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/android/fastlane/report.xml
**/android/fastlane/Preview.html
**/android/fastlane/screenshots
**/android/fastlane/test_output
**/ios/fastlane/report.xml
**/ios/fastlane/Preview.html
**/ios/fastlane/screenshots
**/ios/fastlane/test_output
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

*.cer
*.certSigningRequest
*.p12
*.mobileprovision

# scan temporary files
**/android/fastlane/test_output

!**/suite-native/app/.env.debug
!**/suite-native/app/.env.develop
!**/suite-native/app/.env.production
!**/suite-native/app/.env.staging

# ios
**/ios/*.xcarchive
**/ios/builds/*
**/ios/.xcode.env.local
# Ruby / CocoaPods
**/ios/Pods/
**/vendor/bundle/

# android
**/android/builds/*
# fastlane supply (google service account - upload key)
**/android/upload-key.json

# Bundle artifact
*.jsbundle

# Yarn 3
.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# @trezor/suite-data
packages/suite-data/files/browser-detection
packages/suite-data/files/guide
packages/suite-data/files/translations/master.json

# lottie animations
packages/suite-data/files/videos/lottie/*.json

# js files which look like ts files
packages/protobuf/scripts/**
/.nx/cache