/ci @vdovhanych @mroz22

/.github/workflows @vdovhanych

/docker @vdovhanych @mroz22

/scripts @Nodonisko

/packages/analytics @tomasklim

/packages/blockchain-link @mroz22 @marekrjpolak

/packages/blockchain-link-utils @marekrjpolak

/packages/blockchain-link-types @marekrjpolak

/packages/coinjoin @marekrjpolak @szymonlesisz

/packages/components @dahaca @matejkriz

/packages/connect @mroz22 @szymonlesisz @martykan

/packages/connect-common @mroz22 @szymonlesisz @martykan

/packages/connect-examples @mroz22 @szymonlesisz @martykan

/packages/connect-explorer @mroz22 @szymonlesisz @martykan

/packages/connect-iframe @mroz22 @szymonlesisz @martykan

/packages/connect-plugin-ethereum @mroz22 @szymonlesisz @martykan

/packages/connect-plugin-stellar @mroz22 @szymonlesisz @martykan

/packages/connect-popup @mroz22 @szymonlesisz @martykan

/packages/connect-web @mroz22 @szymonlesisz @martykan

/packages/connect-webextension @mroz22 @karliatto @martykan

/packages/icons @trezor/suite-mobile

/suite-common/message-system @tomasklim @matejkriz

/packages/suite @tomasklim @matejkriz

/packages/suite-analytics @tomasklim

/packages/suite-build @matejkriz @tomasklim

/packages/suite-data @tomasklim @matejkriz

/packages/suite-desktop @tomasklim @marekrjpolak

/packages/suite-desktop-ui @tomasklim @matejkriz

/packages/suite-desktop-api @szymonlesisz @marekrjpolak

/suite-native @trezor/suite-mobile

/packages/suite-storage @matejkriz

/packages/suite-web @marekrjpolak @tomasklim

/packages/transport @mroz22

/packages/transport-native @trezor/suite-mobile @Nodonisko

/packages/theme @Nodonisko

/packages/urls @marekrjpolak

/packages/utils @karliatto

/packages/node-utils @karliatto

/packages/utxo-lib @szymonlesisz

/packages/styles @Nodonisko

/translations @alex-jerechinsky

/packages/suite/src/support/messages.ts @alex-jerechinsky

/suite-common/graph @trezor/suite-mobile @Nodonisko

/packages/connect/src/data/deviceAuthenticityConfig.ts @tsusanka
