/.github/workflows @vdovhanych

/docker @vdovhanych @mroz22

/scripts @vdovhanych
/scripts/list-outdated-dependencies/connect-dependencies.txt @martykan @vdovhanych
/scripts/list-outdated-dependencies/foundation-dependencies.txt @matejkriz @vdovhanych
/scripts/list-outdated-dependencies/growth-dependencies.txt @jvaclavik @vdovhanych
/scripts/list-outdated-dependencies/trade-dependencies.txt @vytick @vdovhanych
/scripts/list-outdated-dependencies/qa-dependencies.txt @Vere-Grey @vdovhanych
/scripts/list-outdated-dependencies/wallet-dependencies.txt @tomasklim @vdovhanych

/packages/blockchain-link @mroz22 @marekrjpolak

/packages/blockchain-link-utils @marekrjpolak

/packages/blockchain-link-types @marekrjpolak

/packages/coinjoin @marekrjpolak @szymonlesisz

/packages/components @trezor/suite-growth @seibei-iguchi @jvaclavik

/packages/product-components @trezor/suite-growth @seibei-iguchi @jvaclavik

/packages/connect @mroz22 @szymonlesisz @martykan @marekrjpolak

/packages/connect-common @mroz22 @martykan

/packages/connect-examples @mroz22 @martykan

/packages/connect-explorer @mroz22 @martykan

/packages/connect-plugin-ethereum @mroz22 @martykan

/packages/connect-plugin-stellar @mroz22 @martykan

/packages/connect-web @mroz22 @martykan

/packages/connect-webextension @mroz22 @martykan

/packages/connect-mobile @mroz22 @martykan

/packages/crypto-utils @mroz22 @marekrjpolak

/packages/icons @trezor/suite-mobile

/packages/suite-desktop-api @szymonlesisz @marekrjpolak

/packages/suite-storage @matejkriz

/packages/transport @mroz22 @szymonlesisz

/packages/transport-bluetooth @szymonlesisz

/packages/transport-bridge @mroz22 @szymonlesisz

/packages/transport-test @mroz22

/packages/theme @trezor/suite-growth

/packages/urls @marekrjpolak @pavelmario

/packages/utils @marekrjpolak

/packages/node-utils @marekrjpolak

/packages/utxo-lib @szymonlesisz

/packages/styles @trezor/suite-growth

/packages/dom-utils @trezor/suite-growth

/packages/device-authenticity/src/config/deviceAuthenticityConfig.ts @tsusanka @MiroslavProchazka
/packages/device-authenticity/src/config/deviceAuthenticityBlacklistConfig.ts @tsusanka @MiroslavProchazka

/packages/schema-utils @martykan

/packages/connect-explorer-theme @martykan

/packages/websocket-client @mroz22 @marekrjpolak

# Automation
/.github/actions @Vere-Grey @vdovhanych
/.github/workflows/build-llm-** @Vere-Grey @vdovhanych
/.github/workflows/check-test-health-** @Vere-Grey @vdovhanych
/.github/workflows/template-suite-** @Vere-Grey @vdovhanych
/.github/workflows/test-suite-** @Vere-Grey @vdovhanych
/docs/tests @Vere-Grey
/packages/e2e-utils @Vere-Grey
/packages/trezor-user-env-link @Vere-Grey
/suite/e2e @Vere-Grey
/suite-common/e2e-evolu-client @Vere-Grey
/suite-native/app/e2e @Vere-Grey

# Analytics
/packages/analytics-docs @jvaclavik
/packages/analytics-log-server @jvaclavik
/packages/analytics-uploader @jvaclavik

# Suite Desktop Packages
/suite/analytics @jvaclavik
/suite/analytics/src/events @jvaclavik @kolomaznikt
/suite/analytics/src/constants.ts @jvaclavik @kolomaznikt
/suite/src/messages.ts @pavelmario

# Suite Mobile Packages
/suite-native/analytics @jvaclavik
/suite-native/analytics/src/events @jvaclavik @kolomaznikt
/suite-native/analytics/src/constants.ts @jvaclavik @kolomaznikt
/suite-native/analytics/src/types.ts @jvaclavik @kolomaznikt
/suite-native/module-authorize-device @juriczech
/suite-native/module-passphrase @juriczech
/suite-native/passphrase @juriczech

# Suite Common Packages
/suite-common/analytics @jvaclavik
/suite-common/analytics/src/events @jvaclavik @kolomaznikt
/suite-common/analytics/src/constants.ts @jvaclavik @kolomaznikt
/suite-common/analytics/src/types.ts @jvaclavik @kolomaznikt
/suite-common/graph @trezor/suite-mobile
/suite-common/message-system @tomasklim @matejkriz @MiroslavProchazka @pavelmario
/suite-common/token-definitions @tomasklim
