/ci @vdovhanych @mroz22

/docker @vdovhanych @mroz22

/packages/blockchain-link @mroz22 @marekrjpolak

/packages/components @pingpwned @marekrjpolak @matejkriz

/packages/connect-common @mroz22 @szymonlesisz

/packages/connect-iframe @mroz22 @szymonlesisz

/packages/integration-tests @vdovhanych @mroz22

/packages/rollout @mroz22 @matejkriz

/packages/suite @tomasklim @mroz22

/packages/suite-build @matejkriz @tomasklim

/packages/suite-data @tomasklim @matejkriz

/packages/suite-desktop @tomasklim @marekrjpolak

/packages/suite-native @matejkriz

/packages/suite-storage @mroz22 @matejkriz

/packages/suite-web @marekrjpolak @tomasklim

/packages/suite-web-landing @matejkriz @pingpwned
