@font-face {
    font-family: 'TT Satoshi';
    src: url('./TTSatoshi/TTSatoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Satoshi';
    src: url('./TTSatoshi/TTSatoshi-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
