header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #060606;
    color: #f6f7f8;
    overflow: hidden;
    min-width: 780px;
    z-index: 100;
    svg {
        fill: #ffffff;
        height: 28px;
        width: 100px;
        margin-top: 9px;
        display: inline-block;
    }

    span {
        display: inline-block;
        vertical-align: top;
        margin-top: 16px;
        margin-left: 20px;
    }
}
