html, body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: @color_body;
    font-family: @font-default;
    font-weight: 400;
    font-size: 14px;
}

.app {
    position: relative;
    min-height: 100vh;
    min-width: 720px;
    display: flex;
    flex-direction: column;
    &.resized {
        // to make sure that unpacked coin menu will not overflow main container
        // 512 dropdown height + 50 header + 30 margin + 64 topnav height
        min-height: 680px;
    }
}

main {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    flex: 1;
    background: @color_main;
    display: flex;
    flex-direction: row;
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;
    margin-top: 32px;

    @media screen and (max-width: 1170px) {
        border-radius: 0px;
        margin-top: 0px;
    }
}