header {
    width: 100%;
    height: 52px;
    background: @color_header;

    svg {
        fill: @color_white;
        height: 28px;
        width: 100px;
        margin-top: 9px;
        display: inline-block;
    }

    span {
        display: inline-block;
        vertical-align: top;
        margin-top: 16px;
        margin-left: 20px;
    }

    .layout-wrapper {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }
}
