// https://github.com/JedWatson/react-select/blob/master/less/select.less

@import '~react-select/less/select.less';

// override predefined colors
@select-primary-color: @color_white;
@select-input-hover-box-shadow: none;
@select-input-box-shadow-focus: transparent;
@select-input-border-radius: 0px;
@select-item-border-radius: 0px;
@select-input-border-color: transparent;
@select-input-border-focus: @color_divider;
// @select-input-bg: transparent;
// @select-input-bg-focus: transparent;

.Select-focus-state(@color) {
    // do nothing
    background: transparent;
    box-shadow: none;
}

.Select-focus-state-classic() {
    background: transparent;
    box-shadow: none;
}

.Select-arrow-zone {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding-right: 0px !important;
    width: 24px;
    height: 24px;
    right: 8px;

    .Select-arrow {
        top: 0px;
        border: 0px;
        width: 24px;

        &:after {
            .icomoon-arrow-down;
            transition: transform 0.3s, color 0.3s;
            color: @color_text_secondary;
            transform-origin: 50% 50%;
            font-size: 24px;
        }
    }
}

.Select {

    .Select-control {
        cursor: pointer;

        .Select-input {
            background: transparent;
            position: absolute;
            top: 0;
            // display: none !important; // uncomment for disable auto closing
        }

        &:hover {
            .Select-arrow:after {
                color: @color_text_primary;
            }
        }
    }

    .Select-noresults {
        color: @color_text_secondary;
        font-family: @font-default;
    }

    .Select-placeholder {
        color: @color_text_secondary;
        font-family: @font-default;
    }

    .Select-value-label {
        color: @color_text_primary;
    }

    .Select-menu-outer {
        border-radius: 0px;
        border: 1px solid @color_divider;
        box-shadow: none;
    }

    &.is-open {
        .Select-arrow {
            top: 0px !important;
            border: 0px;
            &:after {
                transform: rotate(180deg);
            }
        }
    }
}
