version: "3.9"
services:
  suite-base:
    build:
      context: .
      dockerfile: ./suite/Dockerfile
    network_mode: "host"
    volumes:
      - ..:/usr/src/service
      - ../node_modules:/usr/src/service/node_modules
    environment:
      - NODE_ENV=development
      - LOCAL_USER_ID=$LOCAL_USER_ID
    working_dir: /usr/src/service

  suite-install:
    extends:
      service: suite-base
    command: bash -c "yarn && yarn build:libs"
