# schema version '3' does not support 'extends' keyword anymore
# https://stackoverflow.com/questions/52587643/how-to-extend-service-in-docker-compose-v3

version: '2'
services:

  trezor-user-env:
    build:
      context: .
      dockerfile: ./trezor-user-env/Dockerfile
    network_mode: host
    ipc: host
    container_name: trezor-user-env
    environment:
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
      - LOCAL_USER_ID=$LOCAL_USER_ID
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./trezor-user-env/controller:/controller

  suite-dev:
    container_name: suite-dev
    extends:
      service: suite-base
      file: docker-compose.suite-base.yml
    command: bash -c "yarn suite:dev"
