* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'TT Hoves', -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

:root {
    --BG_GREEN: #00854d;
    --BG_GREY: #f4f4f4;
    --TYPE_DARK_GREY: #1f1f1f;
    --BG_WHITE: #ffffff;
    --STROKE_GREY: #e8e8e8;
    --TYPE_RED: #cd4949;
    --TYPE_WHITE: #ffffff;
    --TYPE_LIGHT_GREY: #808080;
}

.dark {
    --BG_GREEN: #00854d;
    --BG_GREY: #18191a;
    --TYPE_DARK_GREY: #eaebed;
    --BG_WHITE: #242526;
    --STROKE_GREY: #3a3b3c;
    --TYPE_RED: #c65353;
    --TYPE_WHITE: #fafafa;
    --TYPE_LIGHT_GREY: #959596;
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: var(--TYPE_DARK_GREY);
    background: var(--BG_WHITE);
}

input {
    color-scheme: dark;
    flex: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-weight: 500;
    padding: 1px 16px;
    font-size: 14px;
    background-color: var(--BG_WHITE);
    outline: none;
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    color: var(--TYPE_DARK_GREY);
    border: none;
    border-radius: 4px;
}

.input-wrapper.valid {
    border: 2px solid var(--BG_GREEN);
}
.input-wrapper.invalid {
    border: 2px solid var(--TYPE_RED);
}
.input-wrapper {
    display: flex;
    position: relative;
    border-radius: 4px;
    border: solid 2px var(--STROKE_GREY);
    align-items: stretch;
    padding-top: 1px;
}
.input-message {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    display: flex;
    font-size: 12px;
    color: var(--TYPE_RED);
    padding: 10px;
    min-height: 35px;
}

.hidden {
    display: none !important;
}

.checkbox-wrapper {
    font-size: 16px;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
}

.checkbox-control {
    display: flex;
}

.checkbox {
    color-scheme: light;
    font-size: 16px;
    color: var(--TYPE_DARK_GREY);
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    border-radius: 4px;
}

.checkbox.checked {
    background: var(--BG_GREEN);
    border: 2px solid var(--BG_GREEN);
}

.checkbox.unchecked {
    background: var(--BG_WHITE);
    border: 2px solid var(--STROKE_GREY);
}

.checkbox-input {
    display: block;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.checkbox-checked-icon {
    font-size: 16px;
    color: var(--TYPE_DARK_GREY);
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.checkbox-label {
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    display: flex;
    padding-left: 12px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
}

.checkbox-wrapper.registration {
    margin-bottom: 20px;
}

button {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    padding: 9px 56px;
    color: var(--TYPE_WHITE);
    font-weight: 600;
    font-size: 16px;
    background: var(--BG_GREEN);
}

button:disabled {
    background: var(--BG_GREY);
    color: var(--TYPE_LIGHT_GREY);
}

button.registration {
    margin-top: 32px;
}

.small-text {
    font-size: 14px;
    line-height: 24px;
    color: var(--TYPE_LIGHT_GREY);
}

.centered-text {
    text-align: center;
}

.verification,
.verification-info {
    margin-top: 12px;
}

button.link {
    background: none !important;
    border: none;
    padding: 0 !important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    color: var(--TYPE_LIGHT_GREY);
    font-weight: unset;
    display: unset;
}

a.link-icon {
    color: var(--BG_GREY);
    display: flex;
}

a.link-icon div {
    display: flex;
    align-self: center;
}

.tos {
    margin-left: 6px;
}

.show-password {
    padding-right: 10px;
    display: flex;
    align-items: center;
    color: var(--TYPE_LIGHT_GREY);
    cursor: pointer;
}
