{
    "openapi": "3.0.1",
    "info": {
        "title": "Swagger ETH B2C API",
        "termsOfService": "http://swagger.io/terms/",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://eth-api-b2c.everstake.one/api/v1"
        }
    ],
    "tags": [
        {
            "name": "Staking",
            "description": "ETH staking"
        }
    ],
    "paths": {
        "/stats": {
            "get": {
                "summary": "General pool stats",
                "operationId": "poolStats",
                "tags": ["Staking"],
                "responses": {
                    "200": {
                        "description": "Staking positions response object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Stats"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/validators/queue": {
            "get": {
                "summary": "Validators queue params. Values updates once a minute",
                "operationId": "validatorsQueue",
                "tags": ["Staking"],
                "responses": {
                    "200": {
                        "description": "Staking positions response object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidatorsQueue"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/transactions/{account}": {
            "get": {
                "summary": "Account transactions",
                "operationId": "accountTransactions",
                "tags": ["Staking"],
                "parameters": [
                    {
                        "name": "account",
                        "in": "path",
                        "required": true,
                        "description": "Account ID",
                        "example": "0x6be457e04092b28865e0cba84e3b2cfa0f871e78",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "operation",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "stake",
                                "unstake",
                                "unstake_pending",
                                "claim_withdraw_request",
                                "activate_stake"
                            ]
                        },
                        "style": "form",
                        "explode": false,
                        "description": "Filter by transaction type"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000,
                            "default": 50
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User transactions response object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Transaction"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/staker/{address}/pending/validators": {
            "get": {
                "summary": "Get pending validators",
                "operationId": "pendingValidators",
                "tags": ["Staking"],
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "description": "Staker address",
                        "example": "0x6be457e04092b28865e0cba84e3b2cfa0f871e78",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of validators",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Validator"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/staker/{address}/rewards/total": {
            "get": {
                "summary": "Get total staker rewards",
                "operationId": "totalStakerRewards",
                "tags": ["Staking"],
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "description": "Staker address",
                        "example": "0x6be457e04092b28865e0cba84e3b2cfa0f871e78",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "description": "Timestamp filter to specify data range",
                        "example": "1722418320",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "description": "Timestamp filter to specify data range",
                        "example": "1722418320",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Total number of staker rewards",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "example": "1000.50"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/staker/{address}/rewards": {
            "get": {
                "summary": "Get agg staker rewards",
                "operationId": "StakerRewards",
                "tags": ["Staking"],
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "description": "Staker address",
                        "example": "0x6be457e04092b28865e0cba84e3b2cfa0f871e78",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "description": "Timestamp filter to specify data range",
                        "example": "1722418320",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "description": "Timestamp filter to specify data range",
                        "example": "1722418320",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Maximum number of items to return (default: 50)",
                        "example": "50",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Number of items to skip before starting to return results",
                        "example": "0",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Staker rewards list",
                        "headers": {
                            "x-total-count": {
                                "description": "Total number of rewards available",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AggReward"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Stats": {
                "type": "object",
                "required": ["apr", "next_reward_payout_at"],
                "properties": {
                    "apr": {
                        "description": "Actual Pool APR in decimal form",
                        "type": "string",
                        "example": "0.03572243996779061"
                    },
                    "next_reward_payout_in": {
                        "description": "Time to next rewards payout in sec",
                        "type": "integer",
                        "format": "uint64",
                        "example": 10
                    }
                }
            },
            "ValidatorsQueue": {
                "type": "object",
                "required": [
                    "validators_entering_num",
                    "validators_entering_balance",
                    "validators_exiting_num",
                    "validators_exiting_balance",
                    "validators_total_count",
                    "eth_churn_activation_per_epoch",
                    "validators_per_epoch",
                    "validator_activation_time",
                    "validator_exit_time",
                    "validator_withdraw_time",
                    "validator_adding_delay",
                    "updated_at"
                ],
                "properties": {
                    "validators_entering_num": {
                        "type": "integer",
                        "description": "Number of validators at entering queue at Beacon chain",
                        "format": "uint64",
                        "example": 0
                    },
                    "validators_entering_balance": {
                        "type": "integer",
                        "description": "Balance of validators at entering queue at Beacon chain",
                        "format": "uint64",
                        "example": 532534954261233
                    },
                    "validators_exiting_num": {
                        "type": "integer",
                        "description": "Number of validators at exit queue at Beacon chain",
                        "format": "uint64",
                        "example": 10
                    },
                    "validators_exiting_balance": {
                        "type": "integer",
                        "description": "Balance of validators at exit queue at Beacon chain",
                        "format": "uint64",
                        "example": 10
                    },
                    "validators_total_count": {
                        "type": "integer",
                        "description": "Number of active validators at Beacon chain",
                        "format": "uint64",
                        "example": 862138
                    },
                    "eth_churn_activation_per_epoch": {
                        "type": "integer",
                        "description": "Amount in ETH of activations per epoch",
                        "format": "uint64",
                        "example": 8
                    },
                    "validators_exits_per_epoch": {
                        "type": "integer",
                        "description": "Number of processing validators exits per epoch",
                        "format": "uint64",
                        "example": 13
                    },
                    "validator_activation_time": {
                        "type": "integer",
                        "description": "Estimated time in seconds of delay before validator become active",
                        "format": "uint64",
                        "example": 390
                    },
                    "validator_exit_time": {
                        "type": "integer",
                        "description": "Estimated time in seconds of delay before validator become exited",
                        "format": "uint64",
                        "example": 390
                    },
                    "validator_withdraw_time": {
                        "type": "integer",
                        "description": "Withdraw period in seconds from Beacon chain",
                        "format": "uint64",
                        "example": 656370
                    },
                    "validator_adding_delay": {
                        "type": "integer",
                        "description": "Delay in seconds before validator become known at Beacon chain",
                        "format": "uint64",
                        "example": 57600
                    },
                    "updated_at": {
                        "type": "integer",
                        "description": "Timestamp of last values update",
                        "format": "int64",
                        "example": 1697466162
                    }
                }
            },
            "Transaction": {
                "type": "object",
                "required": ["sender", "block_num", "hash", "type", "amount", "created_at"],
                "properties": {
                    "sender": {
                        "type": "string",
                        "description": "Sender of the transaction",
                        "example": "0x6be457e04092b28865e0cba84e3b2cfa0f871e78"
                    },
                    "block_num": {
                        "type": "integer",
                        "format": "uint64",
                        "description": "Block number associated with the transaction",
                        "example": 12345
                    },
                    "hash": {
                        "type": "string",
                        "description": "Hash of the transaction",
                        "example": "0x443a76c3e08fdcdd4fcfd48a240505b01cd9f5138b92cd459be80982a544834a"
                    },
                    "type": {
                        "type": "string",
                        "description": "Type of the transaction",
                        "example": "stake"
                    },
                    "amount": {
                        "type": "string",
                        "format": "decimal",
                        "description": "Amount of the transaction",
                        "example": "123.45"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time when the transaction was inluded into block",
                        "example": "2023-10-16T12:34:56Z"
                    }
                }
            },
            "Validator": {
                "type": "object",
                "properties": {
                    "pub_key": {
                        "type": "string",
                        "description": "Public key",
                        "example": "0xa3e2f43fdd9c03f23d14e3228ccd259950c71c8a8562c0013a994adfdf1e4e74030e12ee7605f3ea4c81d56a36606e24"
                    },
                    "index": {
                        "type": "integer",
                        "format": "uint64",
                        "description": "Validator Index",
                        "example": 12345
                    }
                }
            },
            "AggReward": {
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "string",
                        "example": "10.2"
                    },
                    "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "example": "123456789"
                    }
                }
            },
            "InternalServerError": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "example": 500
                    },
                    "message": {
                        "type": "string",
                        "example": "Internal Server Error"
                    }
                }
            }
        }
    }
}
