# GitHub Reporter
# Token for GitHub Reporter local runs, used only for testing of reporter itself (optional)
GITHUB_TOKEN=
GITHUB_REPORTER_VERBOSE=false
# Specify under which release are test generated
RELEASE_BUILD=