build & push image:
  stage: setup environment
  when: manual
  before_script:
    - docker login $CI_DEPENDENCY_PROXY_SERVER -u $CI_DEPENDENCY_PROXY_USER -p $CI_DEPENDENCY_PROXY_PASSWORD
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  variables:
    DOCKER_TLS_CERTDIR: ''
    CONTAINER_NAME: "$CI_REGISTRY/satoshilabs/trezor/trezor-suite/base"
  image: $CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX/docker
  services:
    - docker:dind
  script:
    - docker pull $CONTAINER_NAME:latest || true
    - docker build --build-arg CI_DOCKER_PROXY="$CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX/" --no-cache --tag $CONTAINER_NAME:$CI_COMMIT_SHA --tag $CONTAINER_NAME:latest ./docker/ci-base
    - docker push $CONTAINER_NAME:$CI_COMMIT_SHA
    - docker push $CONTAINER_NAME:latest

install:
  stage: setup environment
  script:
    - ci/scripts/check_lockfile.sh

clear_cache:
  stage: setup environment
  when: manual
  script:
    - rm -rf .yarn .yarn-nix node_modules packages/**/node_modules packages/*/lib packages/*/build packages/*/dist
