/* css reset - same as suite */
input,
textarea {
    outline: none;
}

body,
html {
    background: white;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "TT Satoshi",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Helvetica Neue",
        Arial,
        sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "TT Satoshi", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'TT Satoshi';
    line-height: 1.428571429;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}