@font-face {
  font-family: TTHoves;
  src: local(TTHoves-Light),
    url(tthoves/TTHoves-Light.woff2) format("woff2"),
    url(tthoves/TTHoves-Light.woff) format("woff"),
    url(tthoves/TTHoves-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: TTHoves;
  src: local(TTHoves-Regular),
    url(tthoves/TTHoves-Regular.woff2) format("woff2"),
    url(tthoves/TTHoves-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: TTHoves;
  src: local(TTHoves-Medium),
    url(tthoves/TTHoves-Normal.woff2) format("woff2"),
    url(tthoves/TTHoves-DemiBold.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: TTHoves;
  src: local(TTHoves-DemiBold),
    url(tthoves/TTHoves-DemiBold.woff2) format("woff2"),
    url(tthoves/TTHoves-DemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: TTHoves;
  src: local(TTHoves-Bold),
    url(tthoves/TTHoves-Bold.woff2) format("woff2"),
    url(tthoves/TTHoves-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: RobotoMono;
  src: local(RobotoMono),
    url(roboto/RobotoMono-Regular.woff2) format("woff2"),
    url(roboto/RobotoMono-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
