html, body {
    font-size: 14px;
}

* {
    font-family: 'TTHoves';
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
