html, body {
    font-size: 14px;
    margin: 0;
}

* {
    font-family: 'TT Hoves';
    line-height: 1.428571429;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
