name: "[Bot] crowdin translations update"

on: [workflow_dispatch]

jobs:
  crowdin-sync:
    name: Sync trezor-suite translations with crowdin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: Run crowdin sync
        run: |
          npm install -g yarn && yarn install
          git config --global user.name "trezor-ci"
          git config --global user.email "${{ secrets.TREZOR_BOT_EMAIL }}"
          git checkout -B trezor-ci/crowdin-sync
          yarn workspace @trezor/suite translations:download --token=${{ secrets.CROWDIN_PERSONAL_TOKEN }}
          yarn workspace @trezor/suite translations:backport-en
          yarn workspace @trezor/suite translations:format
          yarn workspace @trezor/suite translations:extract
          cat packages/suite-data/files/translations/master.json
          yarn workspace @trezor/suite translations:upload --token=${{ secrets.CROWDIN_PERSONAL_TOKEN }}
          git add . && git commit -m "chore: crowdin translation update" && git push origin trezor-ci/crowdin-sync -f
          gh config set prompt disabled
          gh pr create --repo trezor/trezor-suite --title "Crowdin translations update" --body "Automatically generated PR for updating crowdin translations." --base develop --label translations
        env:
          GITHUB_TOKEN: ${{ secrets.TREZOR_BOT_TOKEN }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
