name: "[Check]: Shell validation"

on:
  pull_request:
    paths:
      - "**.sh"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: shellcheck
        run: ./scripts/shellcheck.sh
