name: Test with trezor-user-env
on:
  workflow_call:
    inputs:
      methods:
        description: "List of methods to include in tests (example applySettings,applyFlags,getFeatures)"
        type: "string"
        required: false
      test-pattern:
        description: "Test pattern to use (e.g. `init` or `methods`)"
        type: "string"
        required: true

jobs:
  node:
    name: node (${{ matrix.node-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # todo: version 12 won't build due to some react-native dependency. drop version 12?
        # note: version 18 won't build either due to some node-canvas error during yarn install
        # todo: running multiple versions from 'fast' pipeline for branches is overkill. move it to some nightly job (relates to missing nvm in gitlab)
        node-version: [
            14.x,
            # todo: skipping this version for better speed for now
            # 16.x
          ]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: "**/yarn.lock"
      # todo: ideally do not install everything. possibly only devDependencies could be enough for testing (if there was not for building libs)?
      - run: sed -i "/\"node\"/d" package.json
      - run: yarn install --ignore-engines
      # todo: ideally reuse libs from build step
      - run: yarn build:libs
      - run: './docker/docker-connect-test.sh node -p "${{ inputs.test-pattern }}" -i ${{ inputs.methods }}'

  web:
    name: web
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          # karma tests are run in browser, so node version doesn't matter too much
          node-version: 14.x
          cache: yarn
          cache-dependency-path: "**/yarn.lock"
      # todo: ideally do not install everything. possibly only devDependencies could be enough for testing (if there was not for building libs)?
      - run: sed -i "/\"node\"/d" package.json
      - run: yarn install
      # todo: ideally reuse libs from build step
      - run: yarn build:libs
      - name: Retrieve build artifacts
        uses: actions/download-artifact@v2
        with:
          name: build-artifact
          path: packages/connect-web/build
      - name: "Echo download path"
        run: echo ${{steps.download.outputs.download-path}}
      - run: './docker/docker-connect-test.sh web -p "${{ inputs.test-pattern }}" -i ${{ inputs.methods }}'
