name: "[Release] connect init"
# TODO: this is still used by the GitLab workflow
# TODO: let's leave it here until we are confident GitHub release works.

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  release:
    if: github.repository == 'trezor/trezor-suite'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Number of commits to fetch. 0 indicates all history for all branches and tags.
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: |
          yarn install
      - name: Run @trezor/connect create v9 release branch
        run: |
          git config --global user.name "trezor-ci"
          git config --global user.email "${{ secrets.TREZOR_BOT_EMAIL }}"
          gh config set prompt disabled
          node ./ci/scripts/connect-release-init-v9.js
        env:
          GITHUB_TOKEN: ${{ secrets.TREZOR_BOT_TOKEN }}
