name: "[Test] connect"

# run only if there are changes in connect or related libs paths
on:
  pull_request:
    paths:
      - "packages/blockchain-link/**"
      - "packages/connect-common/**"
      - "packages/connect-iframe/**"
      - "packages/connect-web/**"
      - "packages/connect/**"
      - "packages/protobuf/**"
      - "packages/schema-utils/**"
      - "packages/transport/**"
      - "packages/utils/**"
      - "packages/utxo-lib/**"
      - "docker/**"
      - "submodules/trezor-common/**"
      - "yarn.lock"
      - ".github/workflows/connect-test.yml"
      - ".github/workflows/connect-test-params.yml"
      - "docker/docker-connect-test.sh"
      - "docker/docker-compose.connect-test.yml"

concurrency:
  group: ${{ github.workflow }}-$${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # todo: meaning of 'build' job is questionable. only 'web' tests use part of this jobs output
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: yarn
          cache-dependency-path: "**/yarn.lock"
      - run: |
          echo -e "\nenableScripts: false" >> .yarnrc.yml
      - run: yarn workspaces focus @trezor/connect-iframe @trezor/connect-web
      - run: yarn workspace @trezor/connect-iframe build
      - run: yarn workspace @trezor/connect-web build
      # upload + download takes longer than doing yarn build:libs
      - name: Upload build connect-web
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact-connect-web
          path: packages/connect-web/build
      - name: Upload build connect-iframe
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact-connect-iframe
          path: packages/connect-iframe/build

  api:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: "init authorizeCoinjoin cancelCoinjoinAuthorization passphrase unlockPath setBusy override checkFirmwareAuthenticity"

  management:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "applySettings,applyFlags,getFeatures,getFirmwareHash"

  btc-sign:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "signTransaction"

  btc-others:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "getAccountInfo,getAccountDescriptor,getAddress,getPublicKey,signMessage,verifyMessage,composeTransaction,getOwnershipId,getOwnershipProof"

  stellar:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "stellarGetAddress,stellarSignTransaction"

  cardano:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "cardanoGetAddress,cardanoGetNativeScriptHash,cardanoGetPublicKey,cardanoSignTransaction"

  eos:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "eosGetPublicKey,eosSignTransaction"

  ethereum:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "ethereumGetAddress,ethereumGetPublicKey,ethereumSignMessage,ethereumSignTransaction,ethereumVerifyMessage,ethereumSignTypedData"

  nem:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "nemGetAddress,nemSignTransaction"

  ripple:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "rippleGetAddress,rippleSignTransaction"

  tezos:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "tezosGetAddress,tezosGetPublicKey,tezosSignTransaction"

  binance:
    needs: [build]
    uses: ./.github/workflows/connect-test-params.yml
    with:
      test-pattern: methods
      methods: "binanceGetAddress,binanceGetPublicKey,binanceSignTransaction"
